/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* COMMON */

body{
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img {
    max-width: 100%;
}

a{
    text-decoration: none;
    color: #fff;
}

.button,
.dark-btn {
    padding: 12px 15px;
    border-radius: 25px;
}

.button {
    color: black;
    background-color: #fff;
}

.dark-btn {
    padding: 12px 15px;
    border-radius: 25px;
    color: white;
    background-color: #222;
}

.small-object > section > h3 {
    font-size: 2rem;
    padding-bottom: 15px;
}

/* HEADER */
header{
    display: flex;
    justify-content: center;
    padding: 25px 0;
    background-color: #255ee9;
}

.header-container{
    display: flex;
    width: 70%;
}

.short-col {
    width: 20%;
}

.long-col {
    flex-grow: 1;
}

.long-col,
.short-col {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.nav-items {
    list-style-type: none;
    display: flex;
    gap: 25px;
}

/* MAIN */

.hero-container{
    background: url(../img/jumbo.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 180px 0;
}

.hero {
    color: #fff;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
}

.hero>h1, .hero>p {
    padding-bottom: 30px;
}

.hero > p {
    text-align: center;
    width: 75%;
}

.btn-container{
    padding: 25px 0;
}

.object-section {
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 130px 0;
}

.object-container {
    width: 70%;
    display: flex;
}

.big-object, .small-object{
    display: flex;
    justify-content: center;
}

.big-object {
    width: 70%;
    height: 100%;
}

.small-object {
    width: 30%;
    flex-direction: column;
}

.opposite{
    background-color: lightgrey;
}

.inverted {
    flex-direction: row-reverse;
}

.final-section {
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    padding: 130px 0;
}

.bot-container {
    width: 70%;
}

.bot-section {
    display: flex;
    flex-direction: column;
}

.bot-section h2, .bot-section p{
    text-align: center;
}

.bot-section > p {
    padding-top: 20px;
    line-height: 22px;
}

.bot-cont-flex{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.bot-cont-flex img{
    margin-top: 0px;
}

/* FOOTER */

.footer-section{
    background-color: #222;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 60px;
}

footer hr{
    border: solid 1px white;
}

.info-anchors{
    width: 70%;
    height: 550px;
    border: dashed 2px black;
    display: flex;
}

.info-object{
    background-color: #20b2aa;
    width: calc(100% / 6);
    border: dashed 2px white;
}

.large-info{
    width: calc(100% / 6 * 2);
    background-color: darksalmon;
    border: dashed 2px black;
}

.footer-line{
    display: flex;
    background-color: #222;
    padding-top: 20px;
    justify-content: center;
}

.footer-container{
    width: 70%;
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    padding: 5px 0;
}

.footer-object {
    padding: 5px 10px;
    background-color: pink;
    border: dashed 2px black;
}
